$primary: #916000;
$secondary: #916019;

$perfume-font-sizes: (
    1: 40px,
    2: 32px,
    3: 28px,
    4: 24px,
    5: 20px,
    6: 16px,
    7: 14px,
) !default;

$perfume-font-weight: (
    l: 300,
    m: 500,
    sb: 600,
    b: 700,
) !default;
