.header {
    height: 56px;
}

.logo {
    width: 128px;
    height: 38px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.toggler {
    &-icon {
        background-image: url("../../assets/images/toggler.svg");
        width: 48px;
        height: 48px;
    }
    &-nav {
        background-color: #707070;
        height: 0;
        transition: 0.5s;
    }
    &-expend {
        height: 285px;
    }
    &-item {
        border-bottom: 1px solid white;
        text-align: center;
        &:hover{
            background-color: #bebebe;
        }
    }
    &-link {
        color: white;
        display: block;
        padding: 16px 0;
        &:hover {
            color: white;
        }
    }
}
