<nav class="brand d-none d-md-flex">
  <div class="container d-none d-md-flex align-items-center">
    <ul class="d-flex">
      <li>
        <a href="./index.html" class="fs-5 fw-normal text-white pr-4 d-flex align-items-center">
          <span>CHANEL</span>
        </a>
      </li>
      <li>
        <a href="./index.html" class="fs-5 fw-normal text-white pr-4 d-flex align-items-center">
          <span>Jo Malone</span>
        </a>
      </li>
      <li>
        <a href="./index.html" class="fs-5 fw-normal text-white pr-4 d-flex align-items-center">
          <span>Curology</span>
        </a>
      </li>
      <li>
        <a href="./index.html" class="fs-5 fw-normal text-white pr-4 d-flex align-items-center">
          <span>Dior</span>
        </a>
      </li>
      <li>
        <a href="./index.html" class="fs-5 fw-normal text-white pr-4 d-flex align-items-center">
          <span>Chloe</span>
        </a>
      </li>
      <li>
        <a href="./index.html" class="fs-5 fw-normal text-white pr-4 d-flex align-items-center">
          <span>ZARA</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

