<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-between justify-content-md-start">
        <a href="./index.html" class="navbar-brand pr-1">
          <h1 class="logo banner" style="background-image: url('./assets/images/d’Perfumewhite@2x.png');">
            d’Perfume
          </h1>
        </a>
        <span class="fs-7 fw-m text-white">© 2020. All Rights Reserved.</span>
      </div>
      <div class="col d-none d-md-flex justify-content-end align-items-center">
        <ul class="d-md-flex justify-content-end d-none">
          <li>
            <a href="./index.html" class="fs-5 text-white pl-4 d-flex align-items-center">
              <span>Product</span>
            </a>
          </li>
          <li>
            <a href="./index.html" class="fs-5 text-white pl-4 d-flex align-items-center">
              <span>Blog</span>
            </a>
          </li>
          <li>
            <a href="./index.html" class="fs-5 text-white pl-4 d-flex align-items-center">
              <span>Contact</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>