<header class="header bg-white d-flex align-items-center">
  <nav class="container d-flex justify-content-between bg-white">
    <a href="./index.html" class="navbar-brand">
      <h1 class="logo banner" style="background-image: url('./assets/images/d’Perfume@2x.png');">
        d’Perfume
      </h1>
    </a>
    <div class="d-flex justify-content-end align-items-center" id="navbarText">
      <ul class="d-md-flex justify-content-end d-none">
        <li>
          <a href="./index.html" class="fs-5 text-gray pl-5 d-flex align-items-center">
            <span class="material-icons">store</span>
            <span class="ml-1">Product</span>
          </a>
        </li>
        <li>
          <a href="./login.html" class="fs-5 text-gray pl-5 d-flex align-items-center">
            <span class="material-icons">person</span>
            <span class="ml-1">log in</span>
          </a>
        </li>
        <li>
          <a href="./index.html" class="fs-5 text-gray pl-5 d-flex align-items-center">
            <span class="material-icons">favorite</span>
            <span class="ml-1">Wishlist</span>
          </a>
        </li>
        <li>
          <a href="./index.html" class="fs-5 text-gray pl-5 d-flex align-items-center">
            <span class="material-icons">shopping_cart</span>
            <span class="ml-1">Cart(3)</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="d-flex d-md-none justify-content-end align-items-center">
      <a href="./index.html" class="fs-5 text-gray pl-5 d-flex align-items-center">
        <span class="material-icons">shopping_cart</span>
        <span class="number-badge bg-primary">3</span>
      </a>
      <a href="#" class="pl-5 d-flex align-items-center">
        <span id="nav-bar-toggle" class="toggler-icon"></span>
      </a>
    </div>
  </nav>
</header>
<ul class="toggler-nav d-md-none">
  <li class="toggler-item"><a class="toggler-link" href="./index.html">Product</a></li>
  <li class="toggler-item"><a class="toggler-link" href="./index.html">Wishlist</a></li>
  <li class="toggler-item"><a class="toggler-link" href="./index.html">Blog</a></li>
  <li class="toggler-item"><a class="toggler-link" href="./index.html">Contact</a></li>
  <li class="toggler-item"><a class="toggler-link" href="./login.html">log in</a></li>
</ul>