<div class="subscribe banner" style="background-image: url('./assets/images/index10.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5">
                <div class="fw-sb fs-2 text-gray mb-2">
                    記得<br>訂閱以獲取更多資訊！
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control fs-6" placeholder="Your email address">
                    <div class="input-group-append">
                        <button class="btn btn-secondary fs-6" type="button">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>