<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <!-- Roboto -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

</head>

<body>
  <header class="header d-flex justify-content-between align-items-center">
    <a href="/index.html">
      <img src="./assets/images/logo.png">
    </a>
    <ul class="list-unstyled d-lg-flex align-items-center">
      <li><a class="text-white noto-regular" href="/index.html">系列鏡框</a></li>
      <li><a class="text-white noto-regular" href="/index.html">門市據點</a></li>
      <li><a class="text-white noto-regular" href="/index.html">部落格</a></li>
      <li><a class="text-white noto-regular" href="/question.html">常見問題</a></li>
    </ul>
  </header>

  <main>
    <%- contents %>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <ul class="col list-unstyled d-lg-flex align-items-center">
          <li><a class="footer-link noto-regular text-white" href="/index.html">首頁</a></li>
          <li><a class="footer-link noto-regular text-white" href="/index.html">系列鏡框</a></li>
          <li><a class="footer-link noto-regular text-white" href="/index.html">門市據點</a></li>
          <li><a class="footer-link noto-regular text-white" href="/index.html">部落格</a></li>
          <li><a class="footer-link noto-regular text-white" href="/question.html">常見問題</a></li>
        </ul>
        <ul class="col list-unstyled d-lg-flex justify-content-end  align-items-center">
          <li>
            <a href="/index.html">
              <img class="footer-img" src="./assets/images/icon-fb.svg" alt="">
            </a>
          </li>
          <li>
            <a href="/index.html">
              <img class="footer-img" src="./assets/images/icon-ig.svg" alt="">
            </a>
          </li>
          <li>
            <a href="/index.html">
              <img class="footer-img" src="./assets/images/icon-line.svg" alt="">
            </a>
          </li>
        </ul>
      </div>
      <ul class="list-unstyled footer-contact">
        <li>
          <a class="footer-link roboto-regular text-white footer-contact-text" href="tel:+886 0800-000-000">
            <div class="footer-contact-img">
              <img src="./assets/images/icon-phone.svg" alt="">
            </div>
            0800-000-000
          </a>
        </li>
        <li>
          <a class="footer-link roboto-regular text-white footer-contact-text" href="mailto:glasses@business.com">
            <div class="footer-contact-img">
              <img src="./assets/images/icon-mail.svg" alt="">
            </div>
            glasses@business.com
          </a>
        </li>
      </ul>
      <div class="row d-flex justify-content-between">
        <div class="col">
          <div class="d-flex text-white align-items-center">
            <img class="footer-logo" src="./assets/images/logo.png">
            <span class="text-white roboto-regular"></span>Copyright © 2020 Glasses.All rights reserved.</span>
          </div>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
          <ul class="list-unstyled d-flex justify-content-end mb-0">
            <li class="footer-policy"><a class="text-white" href="">隱私權政策</a></li>
            <li class="footer-policy"><a class="text-white" href="">服務條款</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>