.number-badge {
    position: absolute;
    right: -.4rem;
    top: -.4rem;
    font-size: 0.6rem;
    line-height: 1.2;
    border-radius: 10rem;
    color: white;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}